@media only screen and (max-width: 1270px) {
  #restaurants-list li {
    width: 23%;
  }
  #restaurant-container, #reviews-container {
    width: 48%;
  }
}
@media only screen and (max-width: 1050px) {
  .filter-options {
    margin-top: 400px;
  }
  #restaurants-list li {
    width: 37.5%;
  }
  #maincontent {
    display: flex;
    position: relative;
  }
  .inside header {
    position: relative;
  }
  #breadcrumb {
    width: initial;
  }
  #map-container, .inside #map-container {
    background-color: transparent;
    height: 500px;
    width: 100%;
    position: absolute;
    top: 0;
  }
  #restaurant-container,
  #reviews-container {
    padding-top: 440px;
  }
  #restaurant-container {
    padding-right: 20px;
  }
  #reviews-container {
    padding-left: 20px;
  }
  #restaurant-img,
  #restaurant-cuisine {
    width: 100%;
  }
  .inside #footer {
    position: relative;
    width: initial;
  }
}
@media only screen and (max-width: 892px) {
  #restaurant-container {
    width: 75%;
  }
  #restaurants-list {
    justify-content: center;
  }
  #restaurants-list li {
    width: 65%;
    min-height: 480px;
  }
  #maincontent {
    flex-direction: column;
    align-items: center;
  }
  #reviews-container {
    padding-top: 40px;
    width: 75%;
  }
}
