@media only screen and (max-width: 1270px) {
  #restaurants-list li {
    width: 23%;
  }
  #restaurant-container, #reviews-container {
    width: 48%;
  }
}
@media only screen and (max-width: 1050px) {
  #restaurants-list li {
    width: 38%;
  }
  #maincontent {
    display: flex;
    position: relative;
  }
  .inside header {
    position: relative;
  }
  .inside #map-container{
    background-color: transparent;
    height: 500px;
    width: 100%;
    position: absolute;
    top: 0;
  }
  #restaurant-container,
  #reviews-container {
    padding-top: 440px;
  }
  #restaurant-container {
    padding-right: 20px;
  }
  #reviews-container {
    padding-left: 20px;
  }
  #restaurant-img,
  #restaurant-cuisine {
    width: 100%;
  }
}
